<div class="mui-row">
  <div class="mui-col-sm-10 mui-col-sm-offset-1">
    <br>
    <br>
    {{#if loggedIn}}
      <div id="recent-posts" class="mui--text-dark-secondary mui--text-body2">RECENT POSTS<button id="new-post-btn">New Post</button></div>
      <div class="mui-divider"></div>
      <br>
      {{#each posts as |post|}}
      {{> blog-post post=post}}
      {{/each}}
    {{else}}
      <div id="pinned-posts" class="mui--text-dark-secondary mui--text-body2">PINNED POST</div>
      <div class="mui-divider"></div>
      <br>
      {{#with posts.[0] as |yost|}}
      {{> blog-post}}
      {{/with}}
    {{/if}}
  </div>
</div>