<form id="login-form" class="mui-form">
  <legend>Login</legend>
  <div class="mui-textfield">
    <input id="login-email" type="email" placeholder="Email" required>
  </div>
  <div class="mui-textfield">
    <input id="login-password" type="password" placeholder="Password" required>
  </div>
  <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
</form>

<script src="/js/loginsignup.js"></script>