<form id="login-form" class="mui-form form" autocomplete="off">
  <h2 class="drk-pink">Login</h2>
  <div class="mui-textfield">
    <input id="login-email" type="email" placeholder="Email" required>
  </div>
  <div class="mui-textfield">
    <input id="login-password" type="password" placeholder="Password" required>
  </div>
  <div class="flex-row">
    <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
    <button onclick="window.location.href='/signup'" class="mui-btn mui-btn--raised">Sign Up</button>
  </div>
</form>

<script src="/js/login.js"></script>