<div class="card col-6 position-absolute top-50 start-50 translate-middle">
    <div class="card-header" style="background-color: #e06196">
        <h5 class="text-center" style="color: white">Log In</h5>
    </div>
    <div class="card-body">
        <form class="d-grid">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn" style="background-color:#f5a4c5; color: white">Submit</button>
        </form>
    </div>
</div>