<div class="card col-6 position-absolute top-50 start-50 translate-middle">
    <div class="card-header" style="background-color: #e06196">
        <h5 class="text-center" style="color: white">Log In</h5>
    </div>
    <div class="card-body">
        <form class="d-grid">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" class="form-control" id="username-login">
            </div>
            <div class="mb-3">
                <label for="password-login" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-login">
            </div>
            <button type="submit" class="btn" style="background-color:#f5a4c5; color: white" id="login-btn">Submit</button>
        </form>
    </div>
</div>