<div class="card col-6 position-absolute top-50 start-50 translate-middle">
    <div class="card-header" style="background-color: #e06196">
        <h5 class="text-center" style="color: white">Log In</h5>
    </div>
    <div class="card-body">
        <form class="d-grid" id="login-form">
            <div class="mb-3">
                <label for="username-login">Username:</label>
                <input type="text" id="username-login" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="password-login">Password:</label>
                <input type="text" id="password-login" class="form-control" required>
            </div>
            
            <button type="submit" class="btn" style="background-color:#f5a4c5; color: white">Submit</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>
