<form id="new-post-form" class="mui-form form" action="/api/blog/new" method="PUT">
  <h2 class="drk-pink">New Post</h2>
  <div class="mui-textfield">
    <input id="new-title" type="text" placeholder="Post Title" required>
    <label>Title</label>
  </div>
  <div class="mui-textfield">
    <textarea id="new-body" placeholder="Post Body" required></textarea>
    <label>Body</label>
  </div>
  <div class="flex-row">
    <button type="submit" id="submit-edit" class="mui-btn mui-btn--raised">Submit</button>
  </div>
</form>

<script src="/js/new-post.js"></script>