<div class="card col-6 position-absolute top-50 start-50 translate-middle">
    <div class="card-header" style="background-color: #e06196">
        <h5 class="text-center" style="color: white">Sign Up</h5>
    </div>
    <div class="card-body">
        <form class="d-grid" id="signupForm">
            <div class="mb-3">
                <label for="username-signup">Your Username:</label>
                <input type="text" id="username-signup" name="username" required>
            </div>
            
            <div class="mb-3">
                <label for="email-signup">Your Email:</label>
                <input type="email" id="email-signup" name="email" required>
            </div>
            
            <div class="mb-3">
                <label for="password-signup">Your Password:</label>
                <input type="password" id="password-signup" name="password" required>
            </div>

            <div class="mb-3">
                <label for="confirmPassword-signup">Confirm Password:</label>
                <input type="password" id="confirmPassword-signup" name="confirmPassword" required>
            </div>
            
            <button type="submit" class="btn" style="background-color:#f5a4c5; color: white">Submit</button>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>