html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.mui-textfield {
  width: 70%;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #e06196;
  padding: 15px;
}

#blog-post {
  border-color: #e06196;
  border-width: 5px;
  border-style: solid;
  padding: 2%;
  margin-bottom: 7%;
  border-radius: 15px;
}

#bp-full {
  border-color: #e06196;
  border-width: 5px;
  border-style: solid;
  padding: 2%;
  margin: 10%;
  border-radius: 15px;
}

#bp-title {
  display: flex;
  flex-direction: row;
  color: #e06196;
  margin-bottom: 0.5%;
  justify-content: space-between;
}

#blog-title,
#blog-title a {
  color: #e06196;
  margin-bottom: 0.5%;
}

#title-user {
  margin-bottom: 1%;
}

#recent-posts,
#pinned-posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8%;
}

#login-form,
#post-edit-form {
  padding: 10%;
}

#new-post-btn {
  border-color: #e06196;
  color: white;
  background-color: #f5a4c4;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  padding: 1%;
  margin-bottom: 1%;
}

#edit-btn {
  font-size: small;
  background-color: #f5a4c5;
  color: white;
  border-radius: 15px;
  border-style: solid;
  border-color: #e06196;
}

#edit-btn:hover {
  background-color: #e06196;
}

#new-post-btn:hover {
  background-color: white;
  color: #e06196;
  border-color: #e06196;
}

#home-btn,
#login-btn,
#logout-btn,
#user-btn {
  width: 100%;
  color: #e06196;
  border-color: #f5a4c5;
  background-color: white;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  margin: 10%;
  padding: 10%;
}

#home-btn:hover,
#login-btn:hover,
#logout-btn:hover,
#user-btn:hover {
  color: white;
  background-color: #f5a4c4;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#delete-post {
  color: red;
  border-color: red;
}

ul {
  list-style: none;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 180px;
    height: 100%;
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  #content {
    margin-left: 180px;
  }
}